@import "src/domains/core/theme/breakpoints";

.project-details{
  display: flex;
  flex-direction:column;
  justify-content: flex-start;
  height: 100%;
  padding: 24px 16px 0;
}

.project-details__information{
  display:flex;
  flex-direction: column;
  padding: 24px 16px;
}

.project-details__description{
  font-family: var(--body-font);
  font-size: var(--font-size-body-l);
  margin-top: 20px;
}

.project-details__title{
  font-family: var(--title-font);
  font-size: 40px;
  align-self: center;
}

.project-details__content{
  display: flex;
  flex-direction: column;
  max-width: 400px;
}

.project__navigation{
    display: flex;
    justify-content: space-between;
    padding: 16px 24px;
    width: 100%;
}



@media screen and (min-width: $mobile-bp){

  .project-details__content{
    max-width: none;
  }
}