@import "src/domains/core/theme/breakpoints";

.project-details{
  height: 100%;
}

.project-details__title{
  font-family: var(--title-font);
  font-size: var(--font-size-h1);
}

.project-details__content{
  display: flex;
  flex-direction: column;
  max-width: 400px;
}

@media screen and (min-width: $mobile-bp){

  .project-details__content{
    max-width: none;
  }
}