@import "src/domains/core/theme/breakpoints.scss";

.skills{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: fit-content;
}

.skill__title{
  font-size: var(--font-size-h1);
  font-family: var(--text-font);
  color: var(--grey-deep);
}

.skills__list{
  display: grid;
  gap:8px;
  grid-template: repeat(2, 1fr) / repeat(2, 1fr);
  margin-top: 8px;
}

.skills__list-item{
  width: fit-content;
  font-size: var(--font-size-body-l);
  color:black;
}
