@import "src/domains/core/theme/breakpoints.scss";

.skills{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.skills__list{
  display: grid;
  gap:8px;
  grid-template: repeat(2, 1fr) / repeat(2, 1fr);
  margin-top: 8px;
  width: 100%;
  max-width: 600px;
}

.skills__list-item{
  width: fit-content;
  font-size: var(--font-size-body-l);
}

@media screen and (min-width: $desktop-bp) {
  .skills{
    flex-direction: row;
  }

  .skills__list{
    gap:32px;
    max-width: 632px;
    height: fit-content;
    grid-template-areas:  "a b c" "d e f"
  }

  .skills__list-item{
    font-size: var(--font-size-body-l);
  }
}