.carousel {
  display: flex;
  left: 0;
  gap: 16px;
  overflow: visible;
}

.carousel__project {
  display: flex;
  min-height: 125px;
  font-family: var(--text-font);
  border-bottom: 1px solid var(--grey-deep);
  margin-bottom: 16px;
}

