@import "../../theme/breakpoints";

.navbar {
  display: flex;
}

.navbar__nav-items {
  display: flex;
  list-style-type: none;
  gap: 8px;
}

.navbar__nav-item {
  font-size: var(--font-size-subtitle);
  color:var(--grey-deep);
  &:visited {
  color:inherit;
  }
  &:hover{
    color:var(--grey-deep-2);
  }
}

@media screen and (min-width: $mobile-bp) {
  .navbar__nav-item {
    font-size: var(--font-size-h3);
  }
}