@import "src/domains/core/theme/breakpoints.scss";

.home-page{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  padding-top: 16px;
}

.home__showreel{
  max-width: 100%;
}

.home-page__title{
  font-size : 24px;
  font-family: var(--title-font);
  color: black;
}

.home-page__animation{
  display:none;
}

.scroll-button{
  display:none;
}

@media screen and (min-width: $desktop-bp) {

  .home-page__animation{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100vw;
    height:100vh;
  }

  .home-page__about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:8px;
  }

  .home-page__welcome{
    font-family: var(--title-font);
    font-size: 120px;
    width: 100%;
  }

  .home-page__about-me{
    font-family: var(--text-font);
    font-size: 48px;
  }


  .home-page__footer{
    position: absolute;
    bottom:0;
    left:0;
    width:100%
  }

  .home-about__image{
    position:absolute;
  }

  .home-about__image-class{
    max-width: 200px;
    width: 100%;
    border-radius: 8px;
  }

  .scroll-button{
    display:flex;
    position:absolute;
    align-items: center;
    bottom: 120px;
    right:120px;
    border-radius: 64px;
    padding: 8px 8px 8px 16px;
    border :1px solid black;
    width: fit-content;

    &:hover{
      background-color: black;
      color:white;
      .scroll-button__icon{
        fill:white;
      }
    }
  }

  .scroll-button__text{
    font-size:var(--font-size-body-m);
  }

  .scroll-button__icon{
    --icon-size:32px;
    fill:black;
    transform:rotate(90deg);
  }

  .home__showreel{
    max-width: 100%;
  }

  .home-page__title{
    font-size : 120px;
  }
}