@import "src/domains/core/theme/breakpoints.scss";

.schools {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: fit-content;
}

.schools__title {
  font-size: var(--font-size-h1);
  font-family: var(--text-font);
  color: var(--grey-deep);
  font-weight: 400;
}

.schools_list {
  margin-top: 8px;
}

table {
  width: 100%;
  max-width: 640px;
  table-layout: fixed;
}

