@use "./domains/core/theme/shared";

:root {
  --default-icon-size: 16px;
  scroll-behavior: smooth;
  background-color: var(--color-bg);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
