@import 'src/domains/core/theme/breakpoints.scss';

.portfolio-page{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  min-height: 100vh;
}

.portfolio-page__content{
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  flex-grow: 1;
}

@media screen and (min-width: $mobile-bp) {
  .portfolio-page{
    padding: 80px 24px 0;
  }
}