@import 'src/domains/core/theme/breakpoints.scss';

.portfolio-page{
  display: flex;
  flex-direction: column;
  padding: 56px 20px;
}

@media screen and (min-width: $mobile-bp) {
  .portfolio-page{
    padding: 80px 40px;
  }
}