@import "src/domains/core/theme/breakpoints.scss";

.schools{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.schools_list{
  margin-top: 8px;
}

table {
  border-collapse: collapse;
  width: 100%;
  max-width: 640px;
  table-layout: fixed;
}

@media screen and (min-width: $desktop-bp) {
  .schools{
    flex-direction: row;
  }

  .schools_list{
    justify-content: flex-end;
  }
}