@import 'src/domains/core/theme/breakpoints.scss';

.video-player {
  display: flex;
  width: auto; // Reset width
  height: 100%; // Reset height
}

.react-player__mobile {
  aspect-ratio: 16/9;
}

.react-player__tablet {
 display: none;
}

@media screen and (min-width: $mobile-bp) {

  .react-player__mobile {
    display: none;
  }

  .react-player__tablet {
    display: inline;
    aspect-ratio: 16/9;
    position: relative;
  }

}


