.navigation-history {
  display: flex;
}

.navigation-history__list {
  display: flex;
  list-style-type: none;
}

.navigation-history__item {
  display: flex;
  color: var(--grey-deep);
  font-family: var(--text-font);
  font-size: var(--font-size-h2);
  gap: 2px;
  margin-right: 2px;
}

.navigation-history__item:hover ~ .navigation-history__item:last-child {
  color: var(--grey-deep);
}

.navigation-history__item:last-child {
  font-family: var(--text-font);
  font-size: var(--font-size-h2);
}

.navigation-history__light {
  .navigation-history__item:last-child {
    color: black;
  }

  .navigation-history__item {
    &:hover {
      color: black;
    }
  }
}

.navigation-history__dark {
  .navigation-history__item:last-child {
    color: white;
  }

  .navigation-history__item {
    &:hover {
      color: white;
    }
  }
}

