
.portfolio-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  min-height: 100vh;
  padding: 40px 24px 24px;
}

.portfolio-page__content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}


@media screen and (min-width: $mobile-bp) {
  .portfolio-page {
    padding: 200px 24px 24px;
    min-height: 100vh;
  }
}