.portfolio-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 100vw;
  min-height: 100vh;
  padding: sp(2xl) sp(md) sp(md);
  overflow-x: clip;
}

.portfolio-page__content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

@include respond-to(lg) {
  .portfolio-page {
    padding: 180px sp(2xl) sp(md);
    overflow-x: visible;
  }
}
