@import 'src/domains/core/theme/breakpoints.scss';

.contact-content {
  display: flex;
  flex-direction: column;
  align-self: center;
  height: 100%;
}

.contact-content__light {
  color: black;

  .contact-link {
    color: black;
  }
}

.contact-content__dark {
  color: white;

  .contact-link {
    color: white;
  }
}

.contact-title {
  font-family: var(--text-font);
  font-size: 4rem;
  margin-bottom: 24px;
  font-weight: 400;
}

.contact-contact {
  font-size: var(--font-size-body-l);
  color: var(--grey-deep);
  font-family: var(--text-font);
  margin-bottom: 6px;
  font-weight: 400;
}

.contact-collaboration-message {
  font-size: var(--font-size-body-l);
  margin-bottom: 32px;
  line-height: 1.1em;
}

.contact-contact-section {
  display: flex;
  justify-content: space-between;
  max-width: 400px;
  font-family: var(--text-font);
  font-size: var(--font-size-body-l);
  border-top: 1px solid var(--grey-deep);
  margin-bottom: 8px;
}

.contact-label {
  color: var(--grey-deep);
}

.contact-links {
  display: flex;
  gap: 4px;
}

.contact-link {
  text-decoration: none;
  font-weight: 400;
}

.contact-navigation-history {
  margin-bottom: 32px;
  padding-top: 24px;
}

@media screen and (min-width: $tablet-bp) {
  .contact-content {
    margin: 64px 64px;
    max-width: 500px;
  }

  .contact-navigation-history {
    padding-top: 0;
  }
}

