.project__navigator{
  display: flex;
  flex-direction: column;
  position: relative;
}

.project__navigation-item{
  display: flex;
  align-items: center;
  font-family: var(--text-font);
  font-size: var(--font-size-body-l);
  text-decoration: none;
  color: #2c2c2c;
  &:hover{
    color: black;
  }
}

.project__navigation-icon{
  width: 32px;
  height: 32px;
}


.project-overlay__next{
  left:-50px
}

.previous{
  transform: rotate(180deg);
}