.introduction-container {
  padding: 0 0 0 47%;
  line-height: 1.4;
  height: 30vh;
}

.showreel {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.introduction {
  align-self: flex-end;
  color: var(--text-blue);
  max-width: 600px;
  font-size: var(--font-size-h2);
}

.selection {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.selection__header {
  display: flex;
  align-items: center;
  gap: 16px;
}

.selection__title {
  font-size: calc(var(--font-size-h1) * 1.5);
  color: black;
  font-weight: 400;
}

.selection__view-more {
  font-size: var(--font-size-body-l);
  color: var(--grey-deep);
  text-decoration: underline;
  cursor: pointer;
  margin-top: 24px;
}

.lastly {
  display: flex;
  flex-direction: column;
  margin-bottom: 48px;
  margin-top: 48px;
}

@media screen and (max-width: $tablet-bp) {

  .introduction-container {
    padding: 0 0 0 0;
  }

  .selection__header {
    flex-direction: column;
    gap: 0;
    align-items: flex-start
  }

  .selection__view-more {
    margin-top: 0;
  }

  .selection__title {
    line-height: 1;
  }

  .showreel {
    display: none;
  }
}