@import 'src/domains/core/theme/breakpoints.scss';

.about{
  display: flex;
  flex-direction: column;
  align-self: center;
  padding: 24px 0 0;
  gap: 24px;
}

.about__intro-container{
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.about__title{
    font-size: var(--font-size-h1);
  font-family: var(--title-font);
}

.about__introduction{
  display: flex;
  font-size: var(--font-size-body-l);
}

@media screen and (min-width:$tablet-bp){
  .about__intro-container{
    max-width: 640px;
  }

  .about{
    padding: 0 0 32px;
    max-width: 880px;
    width: 100%;
  }
}

@media screen and (min-width:$desktop-bp){
  .about{
    padding: 0 0 32px;
    width: 100%;
  }

  .about__intro-container{
    max-width: 800px;
  }


}