.page-transition-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9999;
  background-color: var(--orange);
  pointer-events: all;
}

.page-transition-overlay__inner {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-transition-title {
  font-family: var(--title-font);
  font-weight: 400;
  font-size: calc(var(--font-size-h1) * 3);
}
