.projects-management-create {
  display: flex;
  flex-direction: column;
  gap: 24px;
  background-color: var(--light-grey);
  border-radius: 16px;
  padding: 16px;
}

.projects-management-create__inputs {
  display: flex;
  gap: 16px;
  width: 100%;
}

.projects-management-create__input {
  max-width: 40%;

  .text-input__input {
    background-color: white;
  }
}