@import 'src/domains/core/theme/breakpoints.scss';

.various {
  padding: 24px 0;
}

.various__drawer-active {
  width: 70%;
  z-index: 102;
}

.various__titles {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  gap: 16px;
  padding-bottom: 24px;
}

.various__title {
  font-family: var(--title-font);
  font-size: var(--font-size-h1);
  font-weight: 400;
  color: white;
}

.various__subtitle::before {
  content: '';
  height: 100%; //You can change this if you want smaller/bigger borders
  width: 1px;

  position: absolute;
  left: 0;
  top: 0; // If you want to set a smaller height and center it, change this value

  background-color: #fff;
  font-family: var(--text-font);
}

.various__subtitle {
  font-family: var(--text-font);
  font-size: var(--font-size-body-xs);
  position: relative;
  padding-left: 16px;
  color: var(--grey-deep)
}

.various__subtitle-text {
  font-weight: 400;
}

.various__description {
  width: 100%;
}

.various__description-title {
  font-family: var(--title-font);
  font-size: var(--font-size-h2);
  color: var(--grey-deep);
  font-weight: 400;
  font-style: italic;
}

.various__description-content {
  font-family: var(--text-font);
  font-size: var(--font-size-body-m);
  color: white;
}

.various__grid {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.various__image {
  width: 100%;
}

.various__image--not-active {
  opacity: 0.5;
}

@media screen and (min-width: $tablet-bp) {

  .various {
    padding: 24px 48px 0;
  }

  .various__description {
    width: 100%;
    max-width: 60%;
  }

  .various__grid {
    margin-top: 64px;
    display: grid;
    gap: 24px;
    grid-template-columns: repeat(4, minmax(120px, 1fr));
  }

}