.navbar {
  display: flex;
}

.navbar__light {
  color: var(--color-text);
}

.navbar__dark {
  color: var(--color-bg);
}

.navbar__nav-items {
  display: flex;
  list-style-type: none;
  gap: sp(xs);
}

.navbar__nav-item {
  font-size: var(--font-size-subtitle);

  &:visited {
    color: inherit;
  }

  &:hover {
    color: var(--color-muted-2);
  }
}

@include respond-to(sm) {
  .navbar__nav-item {
    font-size: var(--font-size-h2);
  }
}
