.icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  fill: currentColor;
  flex: 0 0 auto;
  pointer-events: none;
  stroke: currentColor;
  stroke-width: 0;

  svg {
    display: block;
    fill: currentColor;
    height: var(--icon-size, var(--default-icon-size, 16px));
    width: var(--icon-size, var(--default-icon-size, 16px));
  }
}

