@import "src/domains/core/theme/breakpoints.scss";

.experiences{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: fit-content;
}

.experiences__title{
  font-size: var(--font-size-h1);
    font-family: var(--text-font);
    color: var(--grey-deep);
  font-weight: 400;
}

.experiences__list{
  margin-top: 8px;
}

table {
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;
}


