.experiences{
  display: flex;
  justify-content: space-between;
}

.experiences__title{
  font-size: var(--font-size-h1);
}

table {
  border-collapse: collapse;
    width: 100%;
  max-width: 600px;
}

td, th {
  padding: 8px 8px;
}

th {
  text-align: start;
}

th:last-child{
    text-align: end;
}

td {
  text-align: center;
}

