@import "src/domains/core/theme/breakpoints.scss";

.experience__info{
  display: grid;
  grid-template-areas: "a c" "b b";
  justify-content: space-between;
  padding: 4px 0;
}

.company__mobile{
  color:var(--grey-deep-2)
}

.company__tablet{
  display: none;
}

.experience__content{
  text-align: start;
  line-height: 2rem;
  font-family: var(--text-font);
  font-size: var(--font-size-body-l);
}

.experience__separator{
  border:0.5px solid black;
}

@media screen and (min-width: $desktop-bp){

  .experience__info{
    display: inline-flex;
    width: 100%;
  }

  .company__tablet{
    display: inherit;
    align-self: flex-start;
    text-align: start;
  }

  .company__mobile{
    display: none;
  }

  td, th {
    padding: 8px 8px;
  }

  th {
    text-align: start;
  }

  th:nth-child(1){
    width: 40%;
  }

  th:nth-child(2){
    width: 40%;
  }

  th:nth-child(3){
    width: 25%;
    text-align: end;
  }

}
