.admin-dashboard {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  gap: 16px;
}

.admin-dashboard__navigate {
  background-color: var(--light-grey);
  font-family: var(--text-font);
  font-size: var(--font-size-body-l);
  padding: 8px 16px;
  border-radius: 8px;
  color: black;

  &:hover {
    cursor: pointer
  }

}