@import 'src/domains/core/theme/breakpoints.scss';

.contact__content{
  display: flex;
  flex-direction: column;
  align-self: center;
  height: 100%;
}

.contact__title{
  font-family: var(--text-font);
  font-size: 4rem;
  color: white;
  margin-bottom: 24px;
  font-weight: 400;
}

.contact__contact{
  font-size: var(--font-size-body-l);
  color: var(--grey-deep);
  font-family: var(--text-font);
    margin-bottom: 6px;
  font-weight: 400;
}

.contact__collaboration-message{
  color: white;
  font-size: var(--font-size-body-l);
  margin-bottom: 32px;
  line-height: 1.1em;
}

.contact__contact-section{
  display: flex;
  justify-content: space-between;
  max-width: 400px;
  font-family: var(--text-font);
  font-size: var(--font-size-body-l);
  border-top: 1px solid var(--grey-deep);
  margin-bottom: 8px;
}

.contact__label{
  color: var(--grey-deep);
}

.contact__links{
    display: flex;
    gap: 4px;
}

.contact__link{
  text-decoration: none;
  color: white;  font-weight: 400;
  &:hover{
    color: white;  }

}

.contact__navigation-history{
  margin-bottom: 32px;
  padding-top: 24px;
}

@media screen and (min-width: $tablet-bp){
    .contact__content{
      margin: 64px 64px;
      max-width: 500px;
    }

  .contact__navigation-history{
padding-top: 0;
  }
}

