@import 'src/domains/core/theme/breakpoints.scss';

.contact__content{
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-self: center;
    gap: 8px;
    margin: 48px 24px;
}

.contact__title{
  font-size: var(--font-size-h2);
  color:var(--grey-deep);
}

.contact__contact{
  font-size: 4rem;
  color: black;
}

.contact__collaboration-message{
  color: var(--grey-deep);
  font-size: var(--font-size-h2);
}

.contact__links{
  display: flex;
  gap: 16px;
}

.contact__link{
  color:black;
  font-family: var(--title-font);
  font-size: var(--font-size-body-l);
  text-decoration: none;
  &:hover{
    color: black;
  }
}

@media screen and (min-width: $tablet-bp){
    .contact__content{
      margin: 64px 64px;
      max-width: 600px;
    }
}

