@import 'src/domains/core/theme/breakpoints.scss';

.cursor {
  display: none;
}

.cursor__text {
  --icon-size: 56px;
  transform: rotateZ(-45deg);
}

@media screen and (min-width: $tablet-bp) {
  .cursor {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    pointer-events: none;
    z-index: 999;
  }
}