.project-details-description{
  display: flex;
  flex-direction: column;
  padding:24px 6.5%;
}

.project-details-description__title{
  font-family: var(--text-font);
  font-size: var(--font-size-h1);
  padding-bottom: 24px;
}

.project-details-description__details{
  display: flex;
  flex-direction: column;
  max-width: 720px;

}

.project-details-description__description{
  font-family: var(--text-font);
  font-size: var(--font-size-body-m);
  color:var(--grey-deep)
}

.project-details-description__content{
  font-family: var(--text-font);
  font-size: var(--font-size-body-m);
  padding-bottom: 24px;

}

.project-details-description__info{
  display: flex;
  width: 100%;
  max-width: 680px;
  justify-content: space-between;
  border-top: 1px solid var(--grey-deep);
}

.project-details-description__info-title{
    font-family: var(--text-font);
    font-size: var(--font-size-body-m);
    color: var(--grey-deep);
}

.project-details-description__info-content{
    font-family: var(--text-font);
    font-size: var(--font-size-body-m);
    max-width: 70%;
    text-align: end;
}

.project-details-description__scroll-button{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 12px;
  border :1px solid var(--grey-deep);
  border-radius: 64px;
  width: fit-content;
  font-family: var(--text-font);
  font-size: var(--font-size-body-m);
  &:hover{
    background-color: var(--grey-deep);
    color: white;
  }
}
