.selection-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;
}

.selection-grid__item {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
  cursor: pointer;
}

@media screen and (max-width: $mobile-bp) {
  .selection-grid {
    grid-template-columns: repeat(2, 1fr);
  }

}