.carousel-image{
  display: flex;
  justify-content: center;
  align-items: center;
  position:relative;
  min-width: 350px;
  overflow:visible;
}

.carousel-image__container{
  display: flex;
  flex-direction: column;
}

.carousel-image__image{
}

.carousel-image__overla{
  opacity: 1;
  top: 0;
}