.cursor{
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  position:fixed;
  top:0;
  background-color: var(--yellow);
  height:32px;
  width: 32px;
  border-radius: 50%;
  pointer-events: none;
  z-index: 999;
}